{% extends "layout3.html" %}
{% block body %}

<div class="jumbotron">
<header>

<h1 style="color:grey;" align="center"><b> Blocked Customers </b></h1>

<br><br>



</header>

<br> 

<table class="table table-bordered">
<tr class="active">
    <th>Full Name of Customer</th>
    
    <th>Block Requested by</th>
    
    
  </tr>
  {% for x in info %}
  <tr>
    <td class="active">{{ x.full_name }}</td>
    
     
     <td class="active">{{ x.dfull_name }}</td>
     
    
     
  </tr>
  {%endfor%}
  
  </tr>

</table>
</div>

{% endblock %}